#app {
    font-family: $font-family-sans-serif;
    background: url($background-image) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height: 100vh;
}
.navbar {
    z-index: 9999;
}
.main-content {
    overflow-y: scroll;
    min-height: 90vh;
}

.reset-password {
    top: 45%;
}
